site_name: Notes
docs_dir: docs

exclude_docs: |
  Diagrams/*.md

theme:
    name: 'material'
    palette:

    # Light mode
    #    - media: "(prefers-color-scheme: light)"
    #  scheme: default
    #  primary: pink
    #  accent: indigo
    #  toggle:
    #    icon: material/toggle-switch-off-outline
    #    name: Switch to dark mode

    # Dark mode
      - media: "(prefers-color-scheme: dark)"
        scheme: slate
        primary: teal
        accent: indigo
      #  toggle:
      #  icon: material/toggle-switch
      #  name: Switch to light mode

    # disable default syntax highlighting
    # highlightjs: false

# Extensions
markdown_extensions:
  - pymdownx.highlight:
      guess_lang: true
      default_lang: "cpp"
      linenums: false
      pygments_style: "monokai"
      use_pygments: true

  - footnotes
  # - attr_list
  - pymdownx.arithmatex:
      generic: true
  # - pymdownx.superfences
  # - pymdownx.details
  # - pymdownx.magiclink
  - pymdownx.tasklist:
      custom_checkbox: true
  - def_list
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - admonition
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - toc:
      permalink: true

plugins:
  - search
  - obsidian-interactive-graph
  - roamlinks
  #- blog
  - rss:
      match_path: blog/posts/.* 
      date_from_meta:
        as_creation: date
      categories:
        - categories
        - tags

extra_css:
  # Custom theme
  - assets/stylesheets/pygments.css
  - assets/stylesheets/custom.css
  - assets/stylesheets/variables.css

  # Obsidian Tags
  # - assets/stylesheets/obsidian_tags.css

  # For Notes Graph
  # - assets/stylesheets/interactive_graph.css

extra_javascript:
  # For Notes Graph
  # - https://fastly.jsdelivr.net/npm/jquery/dist/jquery.min.js
  # - https://fastly.jsdelivr.net/npm/echarts/dist/echarts.min.js
  # - assets/javascripts/interactive_graph.js

  # Mermaid Graph
  # - https://unpkg.com/mermaid/dist/mermaid.min.js 

  # For LaTeX support
  - assets/javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

  # For 3D math diagrams using Python and Plotly
  - https://cdn.plot.ly/plotly-latest.min.js
  - https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.4/require.min.js

  # Obsidian Tags
  # - assets/javascripts/obsidian_tags.js
