@import "variables.css";

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--page-colors-headings) !important;
	font-weight: var(--page-styles-headings) !important;
}

p,
li {
	color: var(--page-colors-text);
}

iframe {
	width: 100%;
	aspect-ratio: 1 / 1;
}

img.round_edged {
	border-radius: 1rem;
	border: solid 1px gray;
	box-shadow: 0 0 30px 1px rgb(20, 23, 31);
}

img {
	display: flow-root;
	margin: 1em auto;
}
