name: ci
on:
  push:
    branches:
      - master
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Install Dependencies
        run: |
         python -m pip install --upgrade pip
         pip install mkdocs mkdocs-material numpy mkdocs-obsidian-interactive-graph-plugin mkdocs-callouts mkdocs-obsidian-support-plugin mkdocs-obsidian-bridge
         pip install plotly ipywidgets  # Install libraries used in your notebooks

      - uses: actions/cache@v2
        with:
          key: ${{ github.ref }}
          path: .cache
      - run: pip install mkdocs-roamlinks-plugin
      - run: pip install mkdocs-rss-plugin
      # - run: pip install mkdocs-mermaid2-plugin
      - run: chmod +x ./generate_diagrams.sh
      - run: ./generate_diagrams.sh
      - run: mkdocs gh-deploy --force
